.section {
    width: 100%;
}

.image {
    filter: drop-shadow(2px 2px 2px black);
}

.projIcon {
    /* background: linear-gradient(rgb(202, 202, 202), white 10% 90%, rgb(202, 202, 202)); */
    background: white;
    box-shadow: inset 0px 0px 10px rgb(177, 177, 177);

    cursor: pointer;
}