.header {
    background: linear-gradient(var(--bluePrimary), var(--blueSecondary));

    /* RELATIVE FOR SPEECH BUBBLE */
    position: relative;
}

.containerTxtBtn {
    margin-left: 7%;
    text-shadow: 3px -3px 2px var(--bluePrimary);
}

.containerTxtBtn>* {
    margin: 0;
}

.subtitle {
    margin-top: -3vh;
    margin-bottom: 1vh;
}

.photo {
    filter: drop-shadow(-7px -7px 7px var(--bluePrimary));
    height: 80vh;
    right: 0;
    object-fit: cover;
    object-position: right bottom;
}

.icon {
    opacity: .6;
    transition: .3s ease-in-out;
}

.icon:hover {
    opacity: 1;
}

/* BUBBLE SPEECH */
[data-title]:hover:after {
    opacity: 1;
    visibility: visible;

    text-shadow: none;
    background: url("https://ouch-cdn2.icons8.com/TvEaAs1yPOpwhrs_6-idZEndll_ZhvJ6xI7zpWOWIkw/rs:fit:256:95/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMTEw/LzQxYjJjZDE4LTZm/ODctNGViZS04Yjc1/LWY5M2FmY2M3MzAw/Zi5zdmc.png");
    background-repeat: no-repeat;
    background-size: cover;


}

[data-title]:after {
    content: attr(data-title);
    font-family: 'Coolvetica', sans-serif;
    font-size: 30%;
    font-weight: normal;

    color: var(--darkBluePrimary);
    /* background-color: var(--darkBluePrimary); */
    filter: drop-shadow(-7px -7px 7px var(--bluePrimary));

    top: 22%;
    right: 24%;
    padding: 2.4% 3.3% 2.5% 1.4%;
    border-radius: .2em;
    position: absolute;

    opacity: 0;
    z-index: 1;

    transition: .3s ease-in-out;

}